{% embed "header.html.twig" %}
{% endembed %}


<div id='fix-padding' class="jumbotron col-sm-8 col-sm-offset-4">
    <div class="row">
        <div class="col-sm-4">
            <h2>{{beer.getName}}</h2>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <ul class="list-inline">
                <li>{{beer.getType}}</li>
                <li>{{beer.getAbv}}% ABV</li>
                <li>{{beer.getIbu}} IBUs</li>
                <li>{{beer.getRegion}}</li>
                <li><a href="/brewery_info/{{brewery.getId}}">{{brewery.getName}}</a></li>
            </ul>
        </div>
    </div>

    <div class="row col-sm-10">
        <h3>Currently Offered At These Pubs</h3>
        <div>
            <table class='table table-responsive table-condensed'>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Website
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbody">
                <table class='table table-responsive table-condensed'>
                    <tbody>
                        {% for pub in pubs %}
                            <tr>
                                <td>
                                    <a href="/pub_info/{{pub.getId}}">{{pub.getName}}</a>
                                </td>
                                <td>
                                    {{pub.getLocation}}
                                </td>
                                <td>
                                    <a href="{{pub.getLink}}">{{pub.getLink}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>





{% embed "footer.html.twig" %}
{% endembed %}
