
{% embed "header.html.twig" %}
{% endembed %}

<h1>{{ beer.getName }} On Tap</h1>
    <ul>
        <li>Type: {{ beer.getType }}</li>
        <li>ABV: {{ beer.getAbv }}</li>
        <li>IBU: {{ beer.getIbu }}</li>
        <li>Region: {{ beer.getRegion }}</li>
    </ul>


{% if pubs is not empty %}
    <h2>{{ beer.getName }} is available at these fine establishments</h2>
    {% for pub in pubs %}
        <ul>
            <li><a href="/pub_info/{{ pub.getId }}">{{ pub.getName }}</a></li>
        </ul>
    {% endfor %}
{% else %}
    <h4>{{ beer.getName }} isn't on tap anywhere at the moment.</h4>
{% endif %}


{% embed "footer.html.twig" %}
{% endembed %}
