{% embed "header.html.twig" %}
{% endembed %}


<div class="row jumbotron col-sm-8 col-sm-offset-4">

    <div>
        <h2>All Breweries</h2>
        <div class="table-responsive">
            <table class='table table-condensed'>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Website
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbody table-responsive">
            <table class='table'>
                <tbody>
                    {% for brewery in breweries %}
                        <tr>
                            <td>
                                <a href='/brewery_info/{{brewery.getId}}'>{{brewery.getName}}</a>
                            </td>
                            <td>
                                {{brewery.getLocation}}
                            </td>
                            <td>
                                <a href='{{brewery.getLink}}'>{{brewery.getLink}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>





{% embed "footer.html.twig" %}
{% endembed %}
