{% embed "header.html.twig" %}
{% endembed %}

<div class="row jumbotron">
    <div class="col-sm-6">
        <h1>{{drunk.getName}}</h1>
        <h3>{{drunk.getLocation}}</h3>
        <h3>{{drunk.getEmail}}</h3>
    </div>
    <div class="beers_table col-sm-6">
        <h2>Beers drunk and rated</h2>
        <a href="/add_brew"><button class="btn btn-warning"type="submit">I had a beer</button></a>
        <div class="table-responsive table_beers">

            <table class='table table-scrollable table-condensed'>
                <thead>
                    <tr>
                        <th>
                            Beer
                        </th>
                        <th>
                            Pub
                        </th>
                        <th>
                            Beer Rating
                        </th>
                        <th>
                            Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for brew in brews %}
                        <tr>
                            <td>
                                {{brew['beer_name']}}
                            </td>
                            <td>
                                {{brew['pub_name']}}
                            </td>
                            <td>
                                {{brew['beer_rating']}} Beers
                            </td>
                            <td>
                                {{brew['brew_date']}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

</div>



{% embed "footer.html.twig" %}
{% endembed %}
