{% embed "header.html.twig" %}
{% endembed %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-6">
        <div class="intro">
            <h1>Ay yo!</h1>
            <p>Want to know where to find a beer in your city?</p>
            <p>Want to know other things about beer and stuff?</p>
            <h3>You came to the right place.</h3>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h2>Search taps</h2>
    <form action="/search_beers" autocomplete="off">
        <div class="input-group">
            <input name="beer" value="" type="text" class="form-control" placeholder="Search for a beer..." id="keyword">
            <div id="results">
            </div>
                <span class="input-group-btn">
                    <button type="submit" class="btn left btn-warning">Search</button>
                </span>
        </div>
    </form>

    <div class="center">
        <div class="row">
            <div class="col-sm-4">
                <h3>Local Favorites</h3>
                {% if all_beers is not empty %}
                    <ul class="homepage">
                        {% for beer in all_beers %}
                            <li><a href="/beer/{{ beer.getId}}">{{ beer.getName }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>There are no breweries yet</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <h3>Top Breweries</h3>
                {% if all_breweries is not empty %}
                    <ul class="homepage">
                        {% for brewery in all_breweries %}
                            <li><a href="/brewery_info/{{ brewery.getId}}">{{ brewery.getName }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>There are no breweries yet</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <h3>Top Pubs</h3>
                {% if all_pubs is not empty %}
                    <ul class="homepage">
                        {% for pub in all_pubs %}
                            <li><a href="/pub_info/{{ pub.getId}}">{{ pub.getName }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>There are no breweries yet</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% embed "footer.html.twig" %}
{% endembed %}
