{% embed "header.html.twig" %}
{% endembed %}

{% embed "create_pub_form.html.twig" %}
{% endembed %}


<div class="row col-sm-8 col-sm-offset-4 jumbotron">
    <h3>Pubs</h3>
    <div>
        <table class='table table-responsive table-condensed'>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Website
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbody">
            <table class='table table-responsive table-condensed'>
                <tbody>
                    {% for pub in pubs %}
                        <tr>
                            <td>
                                <a href="/pub_info/{{pub.getId}}">{{pub.getName}}</a>
                            </td>
                            <td>
                                {{pub.getLocation}}
                            </td>
                            <td>
                                <a href="{{pub.getLink}}">{{pub.getLink}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% embed "footer.html.twig" %}
{% endembed %}
