{% embed "header.html.twig" %}
{% endembed %}

{% embed "create_pub_form.html.twig" %}
{% endembed %}


<div class="col-sm-8 col-sm-offset-4">
    <h4>Pubs</h4>
    <div class="table-responsive">
        <table class='table'>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Website
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-responsive tbody">
        <table class="table">
            <tbody>
                {% for pub in pubs %}
                    <tr>
                        <td>
                            <a href='/pub/{{pub.getId}}'>{{pub.getName}}</a>
                        </td>
                        <td>
                            {{pub.getLocation}}
                        </td>
                        <td>
                            <a href="{{pub.getLink}}">{{pub.getLink}}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<form action='/pub_login' method='post'>
    <input name='_method' type='hidden' value='delete'>
    <button type='submit' class='btn btn-danger'>Delete all pubs</button>
</form>

{% embed "footer.html.twig" %}
{% endembed %}
