
{% embed "header.html.twig" %}
{% endembed %}


<div class='row'>
    <div class='col-sm-4'>
        <h1>{{pub.getName}}</h1>
    </div>
    <div class='col-sm-2 col-sm-offset-6'>
        <ul class='list-unstyled'>
            <li>{{pub.getLocation}}</li>
            <li><a href='{{pub.getLink}}'>{{pub.getLink}}</a></li>
        </ul>
    </div>
</div>
<div class='row'>
    <div class='col-sm-6 center'>
        <h3>List of Beers</h3>
            <ul>
                {% for beer in beers %}
                    <li>
                        <a href="/beer/{{ beer.getId }}">{{beer.getName}}</a>

                        <form action="/beer/{{ beer.getId }}/delete" method="post">
                            <input name="_method" type="hidden" value="delete">
                            <button type="submit" class="btn-danger">Delete</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
    </div>
    <div class='col-sm-6'>
        <h4>Search for a beer</h4>


        <form action='/pub/{{ pub.getId }}' method='post' autocomplete="off">
                <div class='input-group'>
                    <input type="text" placeholder="Search" class="form-control" name="keyword" id="keyword">

                    <div id="results">
                    </div>

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Add beer</button>
                    </span>
                </div>
        </form>
    </div>


</div>




{% embed "footer.html.twig" %}
{% endembed %}
