{% embed "header.html.twig" %}
{% endembed %}


<div class="row jumbotron">

    <div class="beers_table col-sm-10 col-sm-offset-1">
        <h2>All Pubs</h2>
        <div class="table-responsive table_beers">

            <table class='table table-scrollable table-condensed'>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Website
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for pub in pubs %}
                        <tr>
                            <td>
                                <a href='/pub/{{pub.getId}}'>{{pub.getName}}</a>
                            </td>
                            <td>
                                {{pub.getLocation}}
                            </td>
                            <td>
                                <a href="{{pub.getLink}}">{{pub.getLink}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

</div>





{% embed "footer.html.twig" %}
{% endembed %}
